.App {
  text-align: center;
}
.sidebar{
position: absolute;
width: 25%;
height: 100%;
top: 0;
left: 0;
overflow: hidden;
border-right: 1px solid rgba(0, 0, 0, 0.25);
}

#search{
  top:10;
  /* margin-bottom:10px; */
  padding: 5px 2px
}

.map {
position: absolute;
left: 25.5%;
width: 74%;
top: 0;
bottom: 0;
}

.heading {
background: #fff;
/* border-bottom: 1px solid #eee; */
height: 60px;
line-height: 60px;
padding: 0 10px;
}

.marker {
  background-color: blue;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  left: -0.5rem;
  top: -0.5rem;
  position: relative;
  border-radius: 1.5rem 1.5rem 0;
  transform: rotate(45deg);
  border: 1px solid #FFFFFF;
}

.marker::after {
  position: 'absolute';
  content: '';
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  background-color: #fff;
}
